/Spider_2_for_2048/mydownload.txt
/Spider_2_for_2048/result.word
/Spider_2_for_2048/result_all_3d.word
/Spider_2_for_2048/result_all_3d-未去重版.word
/Spider_2_for_2048/result_all_cv.word
/Spider_2_for_2048/result_all_cv-一半的.word
/Spider_2_for_2048/result_国动漫.word
/Spider_2_for_2048/result_国动漫 - 未去重版.word
